.Editor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cover {
    width: 100vw;
    max-width: 640px;
    border: 1px solid black;
    border-radius: 5%;
}

.settings {
    padding: 1em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px dashed black;
}
.settings > * {
    padding: 0.5em;
}

.hidden {
    display: none;
}

.coverLoading {
    position: absolute;
    width: 100vw;
    max-width: 640px;
    aspect-ratio: 1;
    color: rgb(240, 225, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 900;
}
